# COPY . .으로 포함될 파일을 줄여서 Docker 빌드와 GHCR push 속도 감소를 위한 파일

# node_modules는 다시 설치되므로 제외
node_modules

# 로그/환경파일 등 민감 또는 불필요한 항목
*.log
.env
*.env.*

# Git 관련
.git
.gitignore

# 테스트/문서
coverage
__tests__/
*.test.*
*.spec.*
*.md

# 기타 임시파일
.DS_Store
.vscode
.idea
*.swp
*.swo