# node_modules는 다시 설치되니 제거
node_modules

# 환경 변수 및 로그
*.log
.env
*.env.*
.eslintcache

# Git 관련
.git
.gitignore

# 테스트 / 문서
coverage
__tests__/
*.test.*
*.spec.*
*.md

# 빌드 산출물
.next
out

# 에디터/OS 임시파일
.DS_Store
.vscode
.idea
*.swp
*.swo